
<header>
  <div class="container">
    <nav class="navbar">
        <a href="{{ route('home') }}" class="nav-logo">FLASH67</a>

        <div class="nav-links">
            <a href="{{ route('home') }}" class="nav-link">Accueil</a>
            <a href="{{ route('deck.create') }}" class="nav-link">Ajouter un deck</a>
        </div>

        <div class="nav-auth">
            <a href="#" class="login-button">Se connecter</a>
        </div>
    </nav>
  </div>
</header>
