<!DOCTYPE html>
<html lang="fr">
<body>
  <div class="container">
    @component('components/layout', { title: 'Accueil' })

    <h3>Decks publiés</h3>


    <div class="deck-grid">
      @each(deck in decks)
      <div class="deck-card">
        <div>
          <h4>{{ deck.title }}</h4>
          <p>{{ deck.description }}</p>

          <p>{{ deck.$extras.cards_count }}</p>
        </div>
        <a href="/deck/{{ deck.id }}" class="cta-button">Voir le deck</a>
      </div>
      @end
    </div>

    @endcomponent
  </div>
</body>
</html>
