<!DOCTYPE html>
<html lang="fr">

  <body>

    <div class="container">

      @component('components/layout', { title: 'Accueil' })
        <h3>
          Liste des enseignants
        </h3>
        <table>
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Surnom
              </th>
              @if(auth.isAuthenticated)
                <th>
                  Options
                </th>
              @end
            </tr>
          </thead>
          <tbody>
            @each ((teacher, index) in teachers)
              <tr>
                <td>
                  {{ teacher.lastname }} {{ teacher.firstname }}
                </td>
                <td>
                  {{ teacher.nickname }}
                </td>
                <td class="containerOptions">
                  @if(auth.isAuthenticated && auth.user.isAdmin)
                    <a href="{{ route('teacher.edit', {id: teacher.id}) }}">
                      <img height="20em" src="/img/edit.png" alt="edit" />
                    </a>

                    {{-- Ajout d'un formulaire pour la suppression d'un enseignant --}}
                    <form
                      action="{{ route('teacher.destroy', { id: teacher.id }) }}?_method=DELETE"
                      method="POST"
                      style="display: inline"
                    >

                      {{ csrfField() }}
                      <button type="submit" style="background: none; border: none;padding: 0; cursor: pointer;">
                        <img height="20em" src="/img/delete.png" alt="delete" />
                      </button>
                    </form>
                  @end
                  @if(auth.isAuthenticated)
                    <a href="{{ route('teacher.show', {id: teacher.id}) }}">
                      <img height="20em" src="/img/detail.png" alt="detail" />
                    </a>
                  @end
                </td>
              </tr>
            @end
          </tbody>
        </table>
      @endcomponent
      
      
    </div>
  </body>
</html>
