<!DOCTYPE html>
<html lang="fr">

  <body>

    <div class="container">

      @component('components/layout', { title })
        <h3>
          {{ title }}
        </h3>
        <table>
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Options
              </th>
            </tr>
          </thead>
          <tbody>
            @each(section in sections)
              <tr>
                <td>
                  {{ section.name }}
                </td>
                <td class="containerOptions">   

                  {{-- Ajout d'un formulaire pour la suppression d'un enseignant --}}
                  <form
                    action="{{ route('section.destroy', { id: section.id }) }}?_method=DELETE"
                    method="POST"
                    style="display: inline"
                  >

                    {{ csrfField() }}
                    <button type="submit" style="background: none; border: none;padding: 0; cursor: pointer;">
                      <img height="20em" src="/img/delete.png" alt="delete" />
                    </button>
                  </form>
                </td>
              </tr>
            @end
          </tbody>
        </table>
      @endcomponent
      
      
    </div>
  </body>
</html>
