@component('components/layout', { title: title })
  <h3>
    {{ deck.title }}
  </h3>

  @if(cards.length > 0)

    @each(card in cards)
        <p>
          {{ card.question }}
        </p>
    @endeach

  @else
    <p>
      Aucune cartes n'est disponoble
    </p>
  @end
@end
